@charset "utf-8";
@import url("font.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input
{margin: 0; padding: 0; border: 0; font-family:'Paperlogy', sans-serif; box-sizing: border-box;}

/* element reset */
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* a Link style */
a {text-decoration: none;}
a:active, a:link, a:visited {color: var(--gray-800); outline: 0; text-decoration: none;}
a:hover {outline: 0; text-decoration: none;}

/* typography */
h1 {color: #FAFAFA; font-size: 94px; letter-spacing: -0.9px; font-weight: 700; font-style: normal; display: inline-block;}

/* 버튼 */
button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: #ffffff00;
    justify-content: space-between;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}
button:focus {
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition: all 0.4s;
}
.btn-home {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    border: 1px solid #CECECE;
    background: #FFF;
    color: #000;
    font-size: 0px;
    height: 82px;
    width: 82px;
}
.btn-home::before {
    content: url("../images/icon/home.svg");
    vertical-align: middle;
}
.btn-error {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #B90800;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    height: 150px;
    width: 100%;
}
.btn-start{
    color: #ffffff;
    background-color: #B90800;
    font-size: 74px;
    font-weight: 700;
    width: 100%;
    height: 190px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.btn-cancel{
    color: #ffffff;
    background-color: #555555;
    font-size: 74px;
    font-weight: 700;
    width: 32%;
    height: 190px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.btn-scan{
    color: #ffffff;
    background-color: #B90800;
    font-size: 74px;
    font-weight: 700;
    width: 66%;
    height: 190px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.btn-finish{
    color: #ffffff;
    background-color: #248D21;
    font-size: 74px;
    font-weight: 700;
    width: 100%;
    height: 190px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 98;
}
/* 버튼 */


html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    height: 100%;
    width: 100%;
}

body {
	vertical-align: baseline;
	text-decoration: none;
    word-break: keep-all;
    background-color: #191919;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
}


/* 메인 */
.main-wrapper {
    background-image: url("../images/contents/main_bg.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.main-wrapper .inner {
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-wrapper .inner .title{
    margin-top: 60px;
    width: 695px;
    height: 450px;
    background: url('../images/contents/main_title.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.main-wrapper .inner .sub-title{
    margin-top: 50px;
    width: 682px;
    height: 190px;
    background: url('../images/contents/main_subtitle.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
/* 메인 */


/* 상단 영역 */
.gnb-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    width: 1080px;
    padding: 42px 42px 0px 42px;
}
/* 상단 영역 */



.content-wrapper.bg {
    background-image: url("../images/contents/sub_bg.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.content-wrapper .inner {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 100px 76px 0px 76px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}
.content-wrapper .inner .tit-area {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.content-wrapper .inner .tit-area .sub-tit{
    font-size: 34px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 8px 14px;
    margin-top: -20px;
    margin-bottom: 22px;
} 
.content-wrapper .inner .tit-area h1 {
    text-align: center;
    margin-bottom: 26px;
}
.content-wrapper .inner .tit-area .red{
    color: #EE4A43;
}
.content-wrapper .inner .tit-area p {
    font-size: 34px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.34px;
    color: #FFFFFF;
}

/* 촬영 안내 */
.content-wrapper .inner .guide-area .content{
    width: 100%;
    height: 520px;
    position: relative;
    margin-top: 26px;
}
.content-wrapper .inner .guide-area .imgBox{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-wrapper .inner .guide-area .imgBox img{
    width: 75%;
}
.content-wrapper .inner .process-area{
    width: 100%;
    margin-top: 26px;
}
.content-wrapper .inner .process-area .content{
    width: 100%;
}
.content-wrapper .inner .process-area .textBox{
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    border: 0px solid #E1E1E1;
    background: #B90800;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #ffffff;
    width: 300px;
    height: 60px;
    text-align: center;
    display: inline-block;
    padding: 12px 0px;
}
.content-wrapper .inner .process-area .tableBox{
    -webkit-border-radius: 0px 10px 10px 10px;
    -moz-border-radius: 0px 10px 10px 10px;
    border-radius: 0px 10px 10px 10px;
    border: 2px solid #E1E1E1;
    background: #fff; 
    padding: 44px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-wrapper .inner .process-area .tableBox hr{    
    width: 100%;
    border: 1px dotted rgb(0 0 0 / 30%);
    margin: 30px 0px;
}
.content-wrapper .inner .process-area .tableBox .list{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content-wrapper .inner .process-area .tableBox .list .left,
.content-wrapper .inner .process-area .tableBox .list .right{    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}
.content-wrapper .inner .process-area .tableBox .list .left{    
    width: 50%;
}
.content-wrapper .inner .process-area .tableBox .list .right{    
    width: 46%;
}
.content-wrapper .inner .process-area .tableBox .list img{    
    width: 128px;
    height: 128px;
}
.content-wrapper .inner .process-area .tableBox .list .num{    
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.32px;
}
.content-wrapper .inner .process-area .tableBox .list .text{    
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.24px;
}
.btn-wrapper {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* 촬영 안내 */


/* 지방 정보 */
.content-wrapper .inner .status-area{
    width: 100%;
}
.content-wrapper .inner .status-area .content{
    width: 100%;
}
.content-wrapper .inner .status-area .content .rowBox{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.content-wrapper .inner .status-area .content .rowBox .itm{  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.8;
    filter: grayscale(100%);
}
.content-wrapper .inner .status-area .content .rowBox .itm.on{ 
    opacity: 1;
    filter: grayscale(0);
}
.content-wrapper .inner .status-area .content .rowBox .itm .name{  
    font-size: 27px;
    font-weight: 700;
    line-height: 130%; 
    letter-spacing: -0.27px;
}
.content-wrapper .inner .status-area .content .rowBox .itm .count{  
    padding: 6px 14px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.17px;
    margin-top: -47px;
}
.content-wrapper .inner .status-area .content .rowBox .itm .character_A{  
    width: 230px;
    height: 284px;
    background: url('../images/contents/character_A_01.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.content-wrapper .inner .status-area .content .rowBox .itm .character_B{  
    width: 230px;
    height: 284px;
    background: url('../images/contents/character_B_01.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.content-wrapper .inner .status-area .content .rowBox .itm .character_C{  
    width: 230px;
    height: 284px;
    background: url('../images/contents/character_C_01.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.content-wrapper .inner .status-area .content .arrow{  
    width: 828px;
    height: 68px;
    background: url('../images/contents/arrow.png') no-repeat;
    background-size: cover;
    font-size: 0;
    margin-top: 20px;
}


.content-wrapper .inner .info-area .content .A_type { 
    margin-top: 164px;
    font-size: 0;
}
.content-wrapper .inner .info-area .content .A_type > div { 
    width: 580px;
    height: 292px;
    background: url(../images/contents/character_A_02.png) no-repeat;
    background-size: cover;
    font-size: 0;
    margin: 0 auto;
}
.content-wrapper .inner .info-area .content .B_type { 
    margin-top: 164px;
    font-size: 0;
}
.content-wrapper .inner .info-area .content .B_type > div { 
    width: 580px;
    height: 292px;
    background: url(../images/contents/character_B_02.png) no-repeat;
    background-size: cover;
    font-size: 0;
    margin: 0 auto;
}
.content-wrapper .inner .info-area .content .C_type { 
    margin-top: 164px;
    font-size: 0;
}
.content-wrapper .inner .info-area .content .C_type > div { 
    width: 580px;
    height: 292px;
    background: url(../images/contents/character_C_02.png) no-repeat;
    background-size: cover;
    font-size: 0;
    margin: 0 auto;
}
.content-wrapper .inner .info-area .content .itm {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-items: center;
    height: 230px;
    width: 672px;
}
.content-wrapper .inner .info-area .content .itm .img { 
    width: 324px;
    height: 236px;
    overflow: hidden;
    text-align: center;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-wrapper .inner .info-area .content .itm img{ 
    max-width: 324px;
    max-height: 236px;
}
/* 지방 정보 */


/* 이벤트 */
.event-wrapper {
    background-image: url("../images/contents/event_bg.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.event-wrapper .inner {
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.event-wrapper .inner .title{
    margin-top: 210px;
    width: 735px;
    height: 546px;
    background: url('../images/contents/event_title.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.event-wrapper .inner .sub-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
}
.event-wrapper .inner .sub-title .bold{
    font-weight: 700;
}
.event-wrapper .inner .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}
.event-wrapper .inner .content .event-img{
    width: 980px;
    height: 490px;
    background: url('../images/contents/event_img_01.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.event-wrapper .inner .content .event-txt{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #191919;
    display: inline-block;
} 
.event-wrapper .inner .content .event-subtxt{
    text-align: center;
    font-size: 34px;
    color: #191919;
    border: 1px solid #191919;
    padding: 8px 14px;
    display: inline-block;
} 
/* 이벤트 */


/* 로딩 화면 */
.modal-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
}
.loading {
    z-index: 100;
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    border-radius: 400px;
    background: #FFF;
    width: 390px;
    height: 390px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading .loadTit{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.56px;
}
.loading .loadText{
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.2px;
    text-align: center;
}
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}
/* 로딩 화면 */


/* 오류 화면 */
.error {
    z-index: 100;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #FFF;
    width: 700px;
    padding: 32px 32px 32px 32px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.error .errorTit{
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.56px;
    color: #BC0303;
}
.error .errorText{
    font-size: 34px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #191919;
}
.error .event-subtxt{
    font-size: 34px;
    color: #191919;
    border: 1px solid #191919;
    padding: 8px 14px;
    display: inline-block;
    margin-top: -16px;
    margin-bottom: 30px;
}

/* 경품 당첨 화면 */
.event-lucky {
    z-index: 100;
    width: 700px;
    padding: 32px 32px 32px 32px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    gap: 38px;
}
.event-lucky .event-txt{
    font-size: 50px;
    line-height: 144%;
    color: #ffffff;
}
.event-lucky .evnet-img_A{
    width: 505px;
    height: 574px;
    background: url('../images/contents/event_A.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.event-lucky .evnet-img_B{
    width: 505px;
    height: 574px;
    background: url('../images/contents/event_B.png') no-repeat;
    background-size: cover;
    font-size: 0;
}
.event-lucky .evnet-img_C{
    width: 505px;
    height: 574px;
    background: url('../images/contents/event_C.png') no-repeat;
    background-size: cover;
    font-size: 0;
}

@media (max-height: 1600px) {
    .wrapper {
        overflow: auto;
    }
    .content-wrapper .inner .tit-area {
        margin-top: 60px;
    }
    .content-wrapper .inner .process-area .content {
        margin-bottom: 60px;
    }
    .content-wrapper .inner .info-area .content {
        margin-bottom: 100px;
    }
    .btn-wrapper {
        padding: 40px 0px;
    }

    .main-wrapper .inner {
        width: 100%;
    }
    .main-wrapper .inner .title {
        margin-top: 50px;
        width: 450px;
        height: 292px;
    }
    .main-wrapper .inner .sub-title {
        margin-top: 30px;
        width: 444px;
        height: 120px;
    }
}